/* CSS for EditCarPage component */
.edit-car-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    
  }
  
  .image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .image-item {
    position: relative;
    display: inline-block;
  }
  
  .image-item img {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image-item .btn-danger {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 5px;
    font-size: 12px;
  }
  